header{
    margin-left: 302px;
    margin-right: 302px;
}

.logo{
    background-color: #000000;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.textLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 300px
}

.tituloLogo{
    color: red;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
