:root{
    --preto: rgb(37,37,37);
    
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    background: var(--preto)
}

