.tropa{
        height: 170vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
}

.tropa-title h2{
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 70px ;
    display: grid;
    align-items: center;
}

.home-tropa{
    height: 135vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-tropa{
    color: white;
    position: absolute;
    font-size: 30px;
    margin: 5.5vw;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

#image{
    position: absolute;
}